html 
  head 
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Hello User
    link(rel="stylesheet" href= "https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js")
    script(src="/client.js")
    link(rel = 'stylesheet', type = 'text/css', href = '/styles.css')
    body
        nav(class="navbar navbar-default")
            div(class="container-fluid")
                -let myString =  `${likedArt.username}`
                -let link = "http://localhost:3000/loginn/:"+  `${likedArt.username}`
                ul(class="nav navbar-nav")
                    li(class="")
                        a(href= `${link}`) Explore
                    li(class="")
                        a(href='/'+myString+"/search") Search
                    li(class="")
                        a(href='javascript:getFollowing("'+ myString +'")') Following
                    li(class="")
                        a(href='javascript:getLiked("'+ myString +'")') Liked
                    li(class="")
                        a(href='javascript:getReviewed("'+ myString +'")') Reviewed
                    li(class="")
                        a(href='javascript:getNotif("'+ myString +'")') Notifications
                    -if(likedArt.isArtist == false){
                        li(class="")
                            a(href='javascript:getArtistProfile("'+ myString +'")') Artist Mode
                    -} else if(likedArt.isArtist == true){
                        li(class="")
                            a(href='javascript:getArtistProfile("'+ myString +'")') Patron Mode
                        li(class="")
                            a(href='/'+myString+"/uploadArt") Upload Art
                        li(class="")
                            a(href='/'+myString+"/addworkshop") Host Workshop
                    -}
                    li(class="" )
                        a(href="javascript:logout()") Log Out  
        h2 You have liked:
        each item in likedArt.art
            - if(item != null){
                -console.log(likedArt.art.length)
                -let edit = `${item.name}`
                - edit = edit.replaceAll(" ", "-");
                -let namespace = `${item.name}`
                - namespace = "http://localhost:3000/artwork/"+edit;
                img(src=item.image)
                br
                a(href = `${namespace}` id = "artlink") #{item.name}
                br
                button(id = `${edit}` type = "submit" class ="like" onclick = 'likeArt("'+ edit +'")') Like
                p #{item.likes} likes
                //- div(class = "likediv")
                //-     div(class="submit-btn")
                //-         button(id = `${likid}` type = "submit" class ="like" onclick = "likeArt()") Like
                //- img(src= "../like.png" class = "like" id = `${likid}`)
                br
                br
            -}