html 
  head 
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Hello User
    link(rel="stylesheet" href= "https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js")
    script(src="/client.js")
    link(rel = 'stylesheet', type = 'text/css', href = '/styles.css')
    body(id = "margin")
        nav(class="navbar navbar-default")
            div(class="container-fluid")
                -let myString =  `${stuff.username}`
                -let link = "http://localhost:3000/loginn/:"+  `${stuff.username}`
                ul(class="nav navbar-nav")
                    li(class="")
                        a(href= `${link}`) Explore
                    li(class="")
                        a(href='/'+myString+"/search") Search
                    li(class="")
                        a(href='javascript:getFollowing("'+ myString +'")') Following
                    li(class="")
                        a(href='javascript:getLiked("'+ myString +'")') Liked
                    li(class="")
                        a(href='javascript:getNotif("'+ myString +'")') Notifications
                    li(class="")
                        a(href='javascript:getReviewed("'+ myString +'")') Reviewed
                    -if(stuff.isArtist == false){
                        li(class="")
                            a(href='javascript:getArtistProfile("'+ myString +'")') Artist Mode
                    -} else if (stuff.isArtist == true){
                        li(class="")
                            a(href='javascript:getArtistProfile("'+ myString +'")') Patron Mode
                        li(class="")
                            a(href='/'+myString+"/uploadArt") Upload Art
                        li(class="")
                            a(href='/'+myString+"/addworkshop") Host Workshop
                    -}
                    li(class="" )
                        a(href="javascript:logout()") Log Out
        h1 Reviews for #{stuff.art.name}
            each item in stuff.art.reviews
                - let check = item.split(":");
                -let send = item + ":" +stuff.art.name
                h4 #{item}
                -if (stuff.username == check[0]){
                    div(class="field btn")
                        input(type="submit" value = "Delete" class="btnreview" onclick='deleteReview("'+ send +'")')
                -}